{% block content%}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }

        .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
            position: relative;
            opacity: 0.65;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bgimg-1 {
            background-image: url("../static/images/image1.jpg");
            min-height: 100%;
        }

        .bgimg-2 {
            background-image: url("../static/images/image2.jpg");
            min-height: 400px;
        }
        .bgimg-3 {
          background-image: url("../static/images/image3.jpg");
          min-height: 70%;
        }

        .bgimg-4 {
          background-image: url("../static/images/image4.jpg");
          min-height: 100%;
        }

        .caption {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            color: #000;
        }

        .caption span.border {
            background-color: #111;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }

        h3 {
            letter-spacing: 5px;
            text-transform: uppercase;
            font: 20px "Lato", sans-serif;
            color: #111;
        }

        /* Turn off parallax scrolling for tablets and phones */
        @media only screen and (max-device-width: 1024px) {
        .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        }
        }
        </style>

        <div class="bgimg-1">
            <div class="caption">
                <span class="border">TOBLERONE SWOT</span>
            </div>
        </div>

        <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
            <h3 style="text-align:center;">Strengths</h3>
            <br>
            <ul>
                <li>TASTY</li>
                <li>Crunchy sugary goodness</li>
                <li>Small Packages</li>
                <li>24 Pack</li>
                <li>There is a bear Hidden in its loggo</li>
            </ul>
        </div>

        <div class="bgimg-2">
            <div class="caption">
                <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Absolutely delicious</span>
            </div>
        </div>

        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <h3>Weaknesses</h3>
                <ul>
                    <li>Sugar is Sugar. That is Bad</li>
                    <li>24 count means that they are individually wrapped. This helps contribute to global warming.
                    This can be countered if you recycle the wrapper so that the plastic is reused.</li>
                    <li>It has a fair amount of trans fat</li>
                </ul>
            </div>
        </div>

    <div class="bgimg-3">
        <div>
            <center>

            <br>
            <br>
            <br>

                <div class="panel panel-default" style="width:40%">

                    <div class="panel-heading text-left" >
                        <h3 class="panel-title ">Opportunities</h3>
                    </div>

                    <div class="panel-body text-left">
                        <ul>
                            <li>Easy to Share</li>
                            <li>Everyone can enjoy it! Not just Sid</li>
                            <li>Can be used to help your arguement. Great when trying to get out and arguement
                            with mom, dad, Sid, or mahi. A great tool for persuasion!!!</li>
                        </ul>
                        <p>
                            <a class="btn btn-primary btn-lg" href="https://www.amazon.com/gp/cart/view.html?ref_=nav_cart"
                               role="button">Hit the Order Button!
                            </a>
                        </p>
                    </div>
                </div>
            </center>
        </div>
    </div>


        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
                <h3>Threats</h3>
                <ul>
                    <li>American Chocolates are cheaper but not as good</li>
                    <li>Crunch is similar to it but Toblerone is better</li>
                    <li>Good for the Size of the belly! Not necessarily a bad thing</li>
                </ul>
            </div>
        </div>

        <div class="bgimg-4">
            <div class="caption">
                <div class="btn-group btn-group-lg" role="group" aria-label="Close">
                    <form method="post" action="/register">
                        <a href="https://www.amazon.com/gp/product/B004SKKPHQ/ref=ox_sc_act_title_1?smid=ATVPDKIKX0DER&psc=1">
                            <button type="button" class="btn btn-dark">The Product</button></a>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
