{% extends "base.html" %}

{% block title %}
Collaborative Workspace Login Page
{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    </div>
        {% for message in get_flashed_messages()%}
            <div class="alert alert-warning" >
                <button type = "button" class="close" data-dismiss="alert">×</button>
                {{message}}
            </div>
        {% endfor %}

        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="post">
                <fieldset>
                    <h2>Please Sign In</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="username" name="username" id="username" class="form-control input-lg" placeholder="Enter a Username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Enter a Password">
                    </div>
                    </span>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
	</div>

{% endblock %}

