{% extends "base.html" %}

{% block title %}
Collaborative Workspace Registration Page
{% endblock %}

{% block content%}
</div>
    {% for message in get_flashed_messages()%}
        <div class="alert alert-warning" >
            <button type = "button" class="close" data-dismiss="alert">×</button>
            {{message}}
        </div>
    {% endfor %}

    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" method="post">
			<fieldset>
				<h2>Please Register</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="username" name="username" id="username" class="form-control input-lg" placeholder="Enter a Username" required>
				</div>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Enter a Password" reqired>
				</div>
                <div class="form-group">
                    <input type="password" placeholder="Repeat Password" id="password-repeat" class="form-control input-lg" name="password-repeat" required>
                </div>
                <div class="form-group text-center">
                    <input type="radio" name="role" value="teacher" required>Teacher &emsp;
                    <input type="radio" name="role" value="student" required>Student &emsp;
                </div>

				</span>
                <hr class="colorgraph">

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="/login" class="btn btn-lg btn-primary btn-block">Sign In</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

{% endblock %}
